[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "submodules/zsh-autocomplete"]
	path = submodules/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "submodules/Catppuccin-Gitkraken-Theme"]
	path = submodules/Catppuccin-Gitkraken-Theme
	url = https://github.com/davi19/gitkraken.git
